@model IEnumerable<SPYte.Models.Product>

@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="~/Views/Shared/_HeroPartial.cshtml" />
<partial name="~/Views/Shared/_BreadcrumbPartial.cshtml" />
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__item">
                        <h4>Phổ biến</h4>
                        <ul>
                            <li><a asp-area="" asp-controller="Products" asp-action="Index">All</a></li>
                            @if (ViewBag.Categories != null)
                            {
                                int i = 0;
                                foreach (var cat in ViewBag.Categories)
                                {
                                    <li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@cat.Id">@cat.Name</a></li>

                                    i++;
                                    if (i >= 3) break;
                                }
                            }

                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Bài đăng mới</h4>
                        <div class="latest-prdouct__slider__item">
                        @foreach (var product in ViewBag.NewestProduct)
                        {
                            var imgUrl = "/files/products/images/";
                            @foreach (var img in product.ProductImgs)
                            {
                                imgUrl += img.Url;
                                break;
                            }
                            <a asp-area="" asp-action="Details" asp-controller="Products" asp-route-id="@product.Id">

                                <div class="latest-product__item__pic">
                                    <img src="@imgUrl" alt="">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>@product.Name</h6>
                                    <span>@product.Price.ToString("#,###")<i class="fa-solid fa-dong-sign"></i></span>
                                </div>
                            </a>
                        }

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-9 col-md-7">
                <div class="section-title">
                    <h2>@ViewBag.ProductListTitle</h2>
                </div>
                <div class="filter__item">
                    <div class="row">
                        @*<div class="col-lg-4 col-md-5">
                            <div class="filter__sort">
                                <span>Sort By</span>
                                <select class="nice-select" id="SortOption">
                                    <option value="name">Name</option>
                                    <option value="price">Price</option>
                                    <option value="date">Date</option>
                                </select>
                            </div>
                        </div>*@
@*                        <div class="col-lg-2 col-md-6">*@
                            <div class="filter__found">
                                <h6><span>@ViewBag.ProSum</span>Sản phẩm</h6>
                            </div>
@*                        </div>
*@                    </div>
                </div>
                <div class="row">
                        @{
                            foreach (var item in Model)
                            {
                                if (item.Status == 1)
                                {
                                    var imgUrl = "/files/products/images/";
                                    foreach (var img in item.ProductImgs)
                                    {
                                        imgUrl += img.Url;
                                        break;
                                    }

                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item border">
                                        <div class="product__item__pic set-bg" data-setbg="@imgUrl">
                                            <ul class="product__item__pic__hover">
                                                <li><a asp-action="Details" asp-controller="Products" asp-route-id="@item.Id" title="Detail"><i class="fa-solid fa-magnifying-glass"></i></a></li>
                                                <li><a onclick="AddToCart('@item.Id')" title="Add to cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="product__item__text">
                                            <h6><a asp-action="Details" asp-controller="Products">@item.Name</a></h6>
                                            <h5>@item.Price.ToString("#,###")&nbsp;<i class="fa-solid fa-dong-sign"></i></h5>
                                        </div>
                                    </div>
                                </div>
                                }

                            }
                        }
                </div>
                <partial name="~/Views/Shared/_PaginationPartial.cshtml" />
            </div>
        </div>
    </div>
</section>
<br />

<section class="featured spad">
    <div class="container">
        <h2 class="text-center">Các sẩn phẩm bán chạy</h2>

        <div class="containerr">
            <div id="slide">
                <div class="slide_item" style="background-image: url(/img/products/banchai.jpg);">
                    <div class="slide_content">
                        <div class="slide_name">Bàn Chải Pro</div>
                        <div class="slide_des">25.000 VNĐ</div>
                        <button>
                            <a href="/Products/Details/3">Xem thêm</a>
                        </button>
                    </div>
                </div>
                <div class="slide_item" style="background-image: url('/img/products/bang-dinh-y-te-1.jpg');">
                    <div class="slide_content">
                        <div class="slide_name">Băng dính</div>
                        <div class="slide_des">20.000 VNĐ</div>
                        <button>
                            <a href="/Products/Details/4">Xem thêm</a>
                        </button>
                    </div>
                </div>
                <div class="slide_item" style="background-image: url('/img/products/Dụng cụ cắt móng tay.jpg');">
                    <div class="slide_content">
                        <div class="slide_name">DC cắt móng tay</div>
                        <div class="slide_des">30.000 VNĐ</div>
                        <button>
                            <a href="/Products/Details/8">Xem thêm</a>
                        </button>
                    </div>
                </div>
                <div class="slide_item" style="background-image: url('/img/products/Dụng cụ đo đường huyết.jpg');">
                    <div class="slide_content">
                        <div class="slide_name">DC đo đường huyết</div>
                        <div class="slide_des">500.000 VNĐ</div>
                        <button>
                            <a href="/Products/Details/10">Xem thêm</a>
                        </button>
                    </div>
                </div>

                <div class="slide_item" style="background-image: url('/img/products/Dụng cụ xông mũi họng.jpg');">
                    <div class="slide_content">
                        <div class="slide_name">DC xông mũi họng</div>
                        <div class="slide_des">150.000 VNĐ</div>
                        <button>
                            <a href="/Products/Details/11">Xem thêm</a>
                        </button>
                    </div>
                </div>

                <div class="slide_item" style="background-image: url('/img/products/khautrang.jpg');">
                    <div class="slide_content">
                        <div class="slide_name">Khẩu trang y tế</div>
                        <div class="slide_des">3.000 VNĐ</div>
                        <button>
                            <a href="/Products/Details/5">Xem thêm</a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <button id="btn_prev"><</button>
                <button id="btn_next">></button>
            </div>


        </div>
    </div>
</section>

<br />
<div class="banner">
    <br />
    <h3 class="text-center">Sản Phẩm Nổi Bật</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/files/BANNER-6-1.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="/files/banner_1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Slide

    document.getElementById('btn_next').onclick = function () {
        let lists = document.querySelectorAll('.slide_item');
        document.getElementById('slide').appendChild(lists[0]);
    }

    document.getElementById('btn_prev').onclick = function () {
        let lists = document.querySelectorAll('.slide_item');
        document.getElementById('slide').prepend(lists[lists.length - 1]);
    }

    // /Slide


    document.getElementById('next').onclick = function () {

    }

    function AddToCart(ProductId) {
        $.ajax({
            type: 'POST', url: '/User/Product/AddtoCart', data: { id: ProductId }, success: function (data) {
                $("#Cart_Amount").html(data.ItemAmount);
            }
        });
    }
</script>



