@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<style>
    .nav-link{
        color: #33CC00;
    }

    .nav-item a:hover{
        color: black;
    }
</style>
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"><i class="fa-solid fa-user"></i>&nbsp;Hồ sơ</a></li>
    @if(User.IsInRole("ShopOwner"))
    {
        <li class="nav-item"><a class="nav-link @ManageNavPages.UserProductsNavClass(ViewContext)" id="userProduct" asp-page="./UserProducts"><i class="fa-solid fa-book"></i>&nbsp;Sản phẩm</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserAddressClass(ViewContext)" id="userAddress" asp-page="./UserAddress"><i class="fa-solid fa-car"></i>&nbsp;Địa chỉ</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserOrdersNavClass(ViewContext)" id="userOrder" asp-page="./UserOrders"><i class="fa-solid fa-receipt"></i>&nbsp;Đơn hàng</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email"><i class="fa-solid fa-envelope"></i>&nbsp;Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword"><i class="fa-solid fa-key"></i>&nbsp;Password</a></li>

    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    @*<li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>*@
</ul>
