@page
@model SPYte.Areas.Identity.Pages.Account.Manage.EditUserProductsModel
@{
    ViewData["Title"] = "Edit Product";
    ViewData["ActivePage"] = ManageNavPages.UserProducts;
    var count = 0;
}

<h4>@ViewData["Title"]</h4>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="container pb-5 mb-5">
    <form id="profile-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="card m-3 w-100 h-25">
                <div class="card-header">
                    <h5>Images List</h5>
                </div>
                <div class="card-body" style="overflow-y:scroll; max-height:350px">
                    <div class="row p-3">
                        @{
                            int i = 0;
                            foreach (var image in Model.Images)
                            {
                                string imgPath = "/files/products/images/" + image.Url;
                                <div class="card col col-md-3">
                                    <img class="card-img-top-custom" src="@imgPath" alt="Card image cap">
                                    <div class="card-body">
                                        <input asp-for="Input.DeleteImgList[i].Id" value="@image.Id" hidden />
                                        <input asp-for="Input.DeleteImgList[i].Img" value="@image.Url" hidden />
                                        <input asp-for="Input.DeleteImgList[i].isSelected" class="form-check-input" />
                                        <label class="form-check-label" asp-for="Input.DeleteImgList[i].isSelected">
                                            Delete Image
                                        </label>
                                    </div>
                                </div>

                                i++;
                            }
                        }
                    </div>

                </div>
                <div class="card-footer">
                    Check Image to delete
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Id" hidden readonly />
                <div class="form-group">
                    <label asp-for="Input.Name"></label>
                    <input asp-for="Input.Name" class="form-control" />
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Price"></label>
                    <input asp-for="Input.Price" class="form-control" />
                    <span asp-validation-for="Input.Price" class="text-danger"></span>
                </div>
                <div class="row m-md-0">
                    <div class="form-group col p-0">
                        <label asp-for="Input.Stock"></label>
                        <input asp-for="Input.Stock" class="form-control" />
                        <span asp-validation-for="Input.Stock" class="text-danger"></span>
                    </div>
                    <div class="form-group col pr-1">
                        <label asp-for="Input.Unit"></label>
                        <input asp-for="Input.Unit" class="form-control" />
                        <span asp-validation-for="Input.Unit" class="text-danger"></span>
                    </div>
                </div>
                <fieldset class="form-group">
                    <a href="javascript:void(0)" onclick="$('#files').click()">Upload Image</a>
                    <input asp-for="Input.Files" type="file" id="files" name="files" style="display: none;" class="form-control" multiple accept=".jpg,.jpeg,.png">
                    <span asp-validation-for="Input.Files" class="text-danger"></span>
                </fieldset>
                <div class="preview-images-zone"></div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.Summary"></label>
                    @*<input asp-for="Input.Summary" class="form-control" />*@
                    <textarea asp-for="Input.Summary" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Input.Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Description"></label>
                    @*<input asp-for="Input.Content" class="form-control" style="height:200px" />*@
                    <textarea asp-for="Input.Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <label>Cateogory</label>
                <div class="row">
                    <div class="col-md-6 pb-3">

                        <select id="Categories" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Categories"]">
                            <option value="-1">Select Category</option>
                        </select>
                    </div>
                    <div class="col-md-3 pb-3 ">
                        <span title="Add tag">
                            <a class="btn btn-outline-info w-100" onclick="addTag()"><i class="fa-solid fa-plus"></i></a>
                        </span> 
                    </div>
                    <div class="form-check col-md-3 pt-2">
                        <input asp-for="Input.isHided" class="form-check-input" type="checkbox" checked="@Model.Input.isHided" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Hide
                        </label>
                    </div>
                </div>
                <div class="categories-box">
                    @{
                        var catcount = Model.categoryList.Count();
                        for (var n = 0; n < 5; n++)
                        {
                            var id = "cat" + n;
                            if (catcount > 0)
                            {
                                <input type="hidden" asp-for="Input.Categories[n]" id="@id" value="@Model.categoryList[n].Id" readonly />
                            }
                            else
                            {
                                <input type="hidden" asp-for="Input.Categories[n]" id="@id" value="-1" readonly />
                            }
                            catcount--;

                        }
                    }
                    <input type="hidden" asp-for="Input.tagchanged" value="0" id="tagchanged" />
                    <ul id="tagList" style="min-height:70px;">
                        @foreach (var cat in Model.categoryList)
                        {
                            count++;
                            <li id="@cat.Id"> @cat.Name <i class="fa-solid fa-xmark" onclick="removeTag(@cat.Id)"></i></li>
                        }
                    </ul>

                </div>


            </div>
        </div>
        <div class="row">
            <div class="form-group w-100 m-3" style="display:block">
                <button id="upload" type="submit" class="btn btn-primary w-100" value="Upload">Edit</button>
            </div>
        </div>
        
    </form>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        




        $(document).ready(function () {
            document.getElementById('files').addEventListener('change', readImage, false);

            $(".preview-images-zone").sortable();

            $(document).on('click', '.image-cancel', function () {
                let no = $(this).data('no');
                $(".preview-image.preview-show-" + no).remove();
            });
        });



        var num = 4;
        function readImage() {
            if (window.File && window.FileList && window.FileReader) {
                var files = event.target.files; //FileList object
                var output = $(".preview-images-zone");

                for (let i = 0; i < files.length; i++) {
                    var file = files[i];
                    if (!file.type.match('image')) continue;

                    var picReader = new FileReader();

                    picReader.addEventListener('load', function (event) {
                        var picFile = event.target;
                        var html = '<div class="preview-image preview-show-' + num + '">' +
                            '<div class="image-cancel" data-no="' + num + '">x</div>' +
                            '<div class="image-zone"><img id="pro-img-' + num + '" src="' + picFile.result + '"></div>' +
                            '</div>';

                        output.append(html);
                        num = num + 1;
                    });

                    picReader.readAsDataURL(file);
                }
            } else {
                console.log('Browser not support');
            }
        }

        var tagnum = '@count';
        function addTag() {
            if (tagnum <= 4) {
                var item = document.getElementById("Categories");
                var value = item.value;
                if (value != -1) {
                    var text = item.options[item.selectedIndex].text;

                    item.options[item.selectedIndex].remove();

                    //var output = $(".categories-box");
                    //var html = '<input type="text" data-val="true" data-val-required="The Id field is required." id="Input_Categories_' + value + '__Id" name="Input.Categories[' + tagnum + '].Id" value="' + value + '">';
                    //output.append(html);
                    for (var i = 0; i < 5; i++) {
                        var id = "cat" + i;
                        var input = document.getElementById(id);
                        if (input.value == -1) {
                            input.value = value;
                            break;
                        }
                    }





                    var ul = document.getElementById("tagList");
                    var li = document.createElement("li");

                    li.setAttribute("id", value);

                    li.innerHTML = text + ` <i class="fa-solid fa-xmark" onclick="removeTag(${value})"></i>`
                    ul.appendChild(li);
                    tagnum++;
                    document.getElementById("tagchanged").value = 1;
                }

                

            }
            else {
                alert("Each product can only have 5 tags")
            }
        }
        function removeTag(element) {
            if (tagnum > 0) {
                var tag = document.getElementById(element);
                var text = tag.innerText;
                var value = element;

                //var id = "Input_Categories_" + element + "__Id";
                //var input = document.getElementById(id);

                for (var i = 0; i < 5; i++) {
                    var id = "cat" + i;
                    var input = document.getElementById(id);
                    if (input.value == value) {
                        input.value = -1;
                        break;
                    }
                }



                var selectList = document.getElementById("Categories");
                var option = document.createElement('option')

                option.value = value;
                option.text = text;
                selectList.appendChild(option);


                tag.remove();
                /*                input.remove();*/
                tagnum--;

                document.getElementById("tagchanged").value = 1;
            }
        }
    </script>
}
